<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
</head>
<body>
<div class="container mt-5" style="margin-left: auto; margin-right: auto; width: 1200px">
<table class="table table-dark table-striped" >
    <input type="text"  th:value="${board.boardPass}" hidden id="boardPass">
    <tr>
        <th>id:</th>
        <td th:text="${board.id}"> </td>
    </tr>
    <tr>
        <th>작성자:</th>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <th>제목:</th>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <th>조회수:</th>
        <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
        <th>내용:</th>
        <td th:text="${board.boardContents}"></td>
    </tr>
<!--    <tr>-->
<!--        <th>비밀번호:</th>-->
<!--        <td th:text="${board.boardPass}" hidden></td>-->
<!--    </tr>-->
    <tr>
        <th>작성시간:</th>
        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
        <th>회원수정:</th>
        <td><a th:href="@{|/boardUpdate/${board.id}|}" class="btn btn-warning">수정</a></td>
<!--        th:href="@{|/boardDetail/${board.id}|}"-->
    </tr>
    <tr>
        <th>회원삭제:</th>
        <td><a th:href="@{|/boardDelete/${board.id}|}" class="btn btn-danger">삭제</a></td>
    </tr>
</table>
    <div id="passArea">
        <form action="" id="passForm"></form>
    </div>
</div>
</body>
<script>
    
</script>
</html>