<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
</head>
<body>
<div class="container mt-5" style="margin-left: auto; margin-right: auto; width: 1200px">
<table class="table table-dark table-striped" >
    <input type="text"  th:value="${board.boardPass}" hidden id="boardPass">
    <input type="text" th:value="${board.id}" hidden id="boardId">
    <tr>
        <th>id:</th>
        <td th:text="${board.id}"> </td>
    </tr>
    <tr>
        <th>작성자:</th>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <th>제목:</th>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <th>조회수:</th>
        <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
        <th>내용:</th>
        <td th:text="${board.boardContents}"></td>
    </tr>

<!--    <tr th:if="${board.fileAttached == 1}">-->
    <tr th:if="${board.fileAttached == 1}">
        <th>image</th>
        <td th:each="fileName:${board.storedFileName}">
            <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200">
        </td>
    </tr>

    <tr>
        <th>작성시간:</th>
        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
        <th>게시판수정:</th>
        <td><button onclick="boardUpdate()" class="btn btn-warning">수정</button></td>

    </tr>
    <tr>
        <th>게시판삭제:</th>
        <td><button onclick="boardDelete()" class="btn btn-danger">삭제</button></td>
<!--        <td><a th:href="@{|/boardDelete/${board.id}|}" class="btn btn-danger">삭제</a></td>-->
    </tr>
</table>
    <div id="passArea">

    </div>
</div>
<!--댓글 -->
<div class="container mt-5" >
    <div id="comment-writer" class="input-group mb-3">

        <div class="form-floating">
            <input type="text" id="commentWriter" class="form-control" placeholder="작성자">
            <label for="commentWriter"> 작성자</label>
        </div>
        <div class="form-floating">
            <input type="text" id="commentContents" class="form-control" placeholder="작성자">
            <label for="commentContents">내용</label>
        </div>
        <button id="comment-write-btn" onclick="commentWrite()" class="btn btn-primary">댓글작성</button>

    </div>
</div>
<!--댓글 리스트-->
<div class="container mt-5" id="comment-list">
    <table class="table">
        <tr>
            <th>댓글번호</th>
            <th>작성자</th>
            <th>내용</th>
        </tr>
        <c:forEachitems="${commentList}" var="comment">
        <tr>
            <td>${comment.id}</td>
            <td>${comment.commentWriter}</td>
            <td>${comment.commentContents}</td>
        </tr>
        </c:forEach>
    </table>
</div>

</body>
<script th:inline="javascript">
     const boardUpdate = () => {
         const passArea = document.getElementById("passArea");
         let result = "<input type=\"text\" name=\"checkPass2\" id=\"checkPass2\" placeholder=\"비밀번호를 입력해주세요.\">\n" +
             "<input type=\"button\" value=\"수정\" class=\"btn btn-warning\" onclick=\"boardUpdate2()\">";
         passArea.innerHTML=result;

     }
     const boardUpdate2 = () => {
         const boardPass = document.getElementById("boardPass").value;
         const checkPass = document.getElementById("checkPass2").value;
         const boardId = [[${board.id}]];
         // const boardId = document.getElementById("boardId").value;
         if(boardPass !=checkPass){
             alert("비밀번호를 확인해주세요")
         }else{
             // location.href="/boardUpdate?id="+boardId;
             location.href="/boardUpdate/" + boardId;
         }
     }


    const boardDelete=()=> {
        const passArea = document.getElementById("passArea");
        let result = "<input type=\"text\" name=\"checkPass2\" id=\"checkPass2\" placeholder=\"비밀번호를 입력해주세요.\">\n" +
            "<input type=\"button\" value=\"삭제\" class=\"btn btn-danger\" onclick=\"boardDelete2()\">";
                 passArea.innerHTML=result;
}
   const boardDelete2=()=> {
        const boardPass = document.getElementById("boardPass").value;
        const checkPass = document.getElementById("checkPass2").value;
        const boardId = document.getElementById("boardId").value;
        if(boardPass !=checkPass){
            alert("비밀번호를 확인해주세요")
        }else{
            // location.href="/boardDelete?id="+boardId;
            location.href="/boardDelete/" + boardId;
        }
   }

   const commentWrite=()=> {
         const commentWriter= document.getElementById("commentWriter").value;
         const commentContents= document.getElementById("commentContents").value;
         const boardId = [[${board.id}]]
       $.ajax({
           type:"post",
           url:"/commentSave",
           data:{
               commentWriter:commentWriter,
               commentContents:commentContents,
               boardId:boardId
           },
           dateType: "json",
           success: function (ck) {

           },
           error: function (ck) {

           }
       })
   }
    
</script>
</html>